/* src/index.css */

/* Importar fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

/* Estilo Global */
body {
  font-family: 'Roboto', sans-serif;
  color: #333; /* Color de texto general */
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #003366; /* Color para los títulos */
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

a {
  color: #007bff; /* Color de enlaces */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar-nav .nav-link {
  font-size: 1rem;
}

.footer {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  color: #666;
}

